{% liquid
  assign product = closest.product
  assign deposit = product.metafields.custom.refund_value
-%}

{% if deposit %}
  <p
    class="spacing-style text-block text-block--{{ block.id }} {{ block.settings.type_preset }}"
    style="
      --width: {{ block.settings.width }};
      padding-block-start: {{ block.settings.padding-block-start }}px;
      padding-block-end: {{ block.settings.padding-block-end }}px;
      padding-inline-start: {{ block.settings.padding-inline-start }}px;
      padding-inline-end: {{ block.settings.padding-inline-end }}px;
      {% if block.settings.type_preset == 'custom' %}
        font-family: {{ block.settings.font }};
        font-size: {{ block.settings.font_size }};
        color: {{ block.settings.color }};
      {% endif %}
    "
    {{ block.shopify_attributes }}
  >
    Deposit: {{ deposit.value | money }}
  </p>
{% else %}
  <p style="display:none" {{ block.shopify_attributes }}></p>
{% endif %}
