<script src="{{ 'navbar-mega-menu.js' | asset_url }}" defer></script>

<div class="section section--page-width tw:pt-6 navbar-mega-menu tw:relative">
  <ul class="tw:flex tw:justify-between tw:items-center">
    {% comment %} {{ section.settings.nav_collections | json }} {% endcomment %}
    {% assign nav_collections = section.settings.nav_collections %}
    {% for col in nav_collections %}
      {% assign sub_collections = col.metafields.custom.sub_collection.value %}
      <li class="tw:grow" data-mega-menu-trigger>
        <a
          href="{{ col.url }}"
          class="tw:flex tw:flex-col tw:items-center tw:gap-1.5 tw:w-full"
        >
          {% if col.image != blank %}
            <img
              src="{{ col.image | image_url: width: 400 }}"
              alt="{{ col.image.alt | escape }}"
              class="tw:h-12! tw:w-12! tw:object-contain"
              width="{{ col.image.width }}"
              height="{{ col.image.height }}"
            >
          {% endif %}
          {{ col.title }}
        </a>

        {% if sub_collections != blank %}
          <div class="section section--page-width tw:bg-white!" data-mega-menu-content>
            <ul class="tw:grid tw:grid-cols-5 tw:gap-2.5">
              {% for sub_col in sub_collections %}
                <li>
                  <a
                    href="{{ sub_col.url }}"
                    class="tw:flex tw:flex-col tw:gap-2 tw:items-center tw:justify-center tw:border tw:border-slate-200 tw:rounded tw:p-4"
                  >
                    {% if sub_col.image != blank %}
                      <img
                        src="{{ sub_col.image | image_url: width: 1000 }}"
                        height="1000"
                        width="1000"
                        alt="{{ sub_col.title }}"
                        class="tw:h-20! tw:w-full! tw:object-contain"
                      >
                    {% else %}
                      <div class="tw:h-20 tw:w-full tw:bg-slate-100 tw:rounded"></div>
                    {% endif %}
                    {{ sub_col.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% stylesheet %}
  [data-mega-menu-content] {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50;
    width: 100%;
    background: white;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 12px;
    list-style: none;
    visibility: hidden;
    opacity: 0;
  }

  @media (max-width: 749px) {
    .navbar-mega-menu {
      display: none;
    }
  }

  .menu-drawer__link-image {
    object-fit: contain !important;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Navbar Mega Menu",
  "tag": "section",
  "class": "custom-section",
  "settings": [
    {
      "type": "collection_list",
      "id": "nav_collections",
      "label": "Navigation Collections",
      "limit": 10
    }
  ],
  "presets": [
    {
      "name": "Navbar Mega Menu"
    }
  ]
}
{% endschema %}
